# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Testing
coverage/
**/coverage/

# Production
build/
dist/
.next/
out/
**/.next/
**/build/
**/dist/
**/out/
mobile/.dart_tool/
**/.dart_tool/

# Misc
.DS_Store
*.pem
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.tar
*.tar.gz
*.tgz

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
**/.env
**/.env.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*firebase-adminsdk*.json

# iOS
ios/**/*.xcodeproj/xcuserdata/
ios/**/*.xcworkspace/xcuserdata/
ios/**/DerivedData/
ios/**/build/
*.xcworkspace
!default.xcworkspace

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# CocoaPods
ios/Pods/
ios/Podfile.lock

# Swift Package Manager
.swiftpm/
